@{
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Brief History of the College</h2>
            <p class="text-justify">
                The Federal College of Education Technical, Asaba was established by Decree No 4 1986
                published  in an extra-ordinary gazette No. 16, vol. 73 of the Federal Republic of
                Nigeria. The decree was emended by decree No. 6 of 1993.
            </p>
            <p class="text-justify">
                The College commenced operation in September 1987 at the present temporary site which
                hou8sed the defunct Asaba Technical College, Asaba. The Permanent site of the College is
                along Ibusa Road, Asaba. The school of Business Education, Technical Education and
                Vocational Education have already moved to the permanent site of the college.
            </p>
            <h2>Mission and Vision</h2>
            <p class="text-justify">
                The main mission of the institution is to produce vocational education teachers to teach
                the vocational, trades, and all the vocational oriented subjects offered in junior
                secondary schools and Technical college. As a tertiary institution, it shall remain rooted in its practices in the best
                traditional and principles of conduct of higher education.
            </p>
            <p class="text-justify">
                The college seeks to do
                this by training competent and motivated teachers who can put their knowledge and
                skills to work in a setting where it makes a difference to the live of those they
                are teaching.
            </p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h2 class="text-center">Objectives of the College</h2>
                <div class="col-md-6">

                    <p class="text-justify">

                        The educational objectives of the college programmes are to:
                        <ol>
                            <li>
                                Impact into students the science of teaching so that they can function well when they
                                go to the junior secondary schools (JSS) as teachers.
                            </li>
                            <li>
                                Give the students a general management knowledge, providing a thorough knowledge of
                                business and government operations and developing an understanding of internal and
                                external influences in the industrial and public service environments.
                            </li>
                            <li>
                                Teach the student problem solving techniques and have the knowledge of fact finding and
                                decision-making by studying the analytical tools of quantification, accounting and
                                economics.
                            </li>
                            <li>
                                Help the student to develop communication skills, build effective writing,
                                speaking and public relations techniques. So that they will becomes responsible citizens and conscientious family members and
                                productive workers.
                            </li>
                            <li>
                                Admit only individuals with potential for teaching successfully and
                                provide challenging,relevant and rewarding experiences designed to attract and retain
                                students of promise.
                            </li>
                            <li>
                                Provide campus-based and supervised field experience to ensure that the theoretical
                                foundations for teaching knowledge can be translated effectively in classroom instruction.
                            </li>
                            <li>
                                Help the students to understand the cycles of life-long  human growth and development and
                                the major theories of cognitive, affective and psychomotor development and how these
                                affect learning.
                            </li>
                        </ol>

                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-justify">

                    </p>
                    <p class="text-justify">
                        Help the student to have working knowledge of statistical and research methods sufficient
                        to understand and apply them to the improvement of professional practice.
                        To enable students to acquire knowledge in information technology.
                    </p>
                    <p class="text-justify">
                        Generally, life at the college encourages the development of the whole person
                        intellectually and socially. Students may find out that what they learn about
                        themselves is most enhanced by the other students with whom they relate.
                        We also hope that you will find the institution a real fountain of ideas, a citadel of
                        enlightenment and a great source of enjoyment and felicity. We are very pleased to
                        welcome you and look forward to successful co-operation between you and the college.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
