
@{
    ViewData["Title"] = "AcademyDirectorate";
}

<div class="container">
    <h1>Director of Academic Planning</h1>
    <hr />
    <div>
        <p>His profile and image</p>
        <p>
            W3Schools is optimized for learning, testing, and training. Examples might be simplified to
            improve reading and basic understanding. Tutorials, references, and examples are constantly
            reviewed to avoid errors, but we cannot warrant full correctness of all content. While using
            this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
            Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.
        </p>
        <p>
            W3Schools is optimized for learning, testing, and training. Examples might be simplified to
            improve reading and basic understanding. Tutorials, references, and examples are constantly
            reviewed to avoid errors, but we cannot warrant full correctness of all content. While using
            this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
            Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.
        </p>
        <p>
            W3Schools is optimized for learning, testing, and training. Examples might be simplified to
            improve reading and basic understanding. Tutorials, references, and examples are constantly
            reviewed to avoid errors, but we cannot warrant full correctness of all content. While using
            this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
            Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.
        </p>
        <p>
            W3Schools is optimized for learning, testing, and training. Examples might be simplified to
            improve reading and basic understanding. Tutorials, references, and examples are constantly
            reviewed to avoid errors, but we cannot warrant full correctness of all content. While using
            this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
            Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.
        </p>
    </div>
    <h2>FCETAsaba Academic Calendars</h2>
    <p><a href="Calender18and19">2018 - 2019 Academic Calendar</a></p>
    <p><a href="2017/18">2017 - 2018 Academic Calendar</a></p>
    <p><a href="EventCalendar">FCET Asaba Event Calendar View of Academic Calendar Date</a></p>
    <p><a href="2018/24">2018 - 20--</a>Summary of Important Dates</p>
    <div class="row">
        <div class="col-md-5 col-sm-5">
            <div class="form-group">
                <label for="Year"> Past Calendars: </label>
                <select class="form-control" value="SelectYear" id="year">
                    <option> Select Academic Calendar Year </option>
                    <option><a href="#">2016 - 2017 Academic Calendar </a> </option>
                    <option><a href="#">2016 - 2017 Academic Calendar </a> </option>
                    <option><a href="#">2016 - 2017 Academic Calendar </a> </option>
                    <option><a href="#">2016 - 2017 Academic Calendar </a> </option>
                    <option><a href="#">2016 - 2017 Academic Calendar </a> </option>
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-4 col-sm-4"></div>

    </div>
</div>


