
@{
    ViewData["Title"] = "Calender18and19";
}
<div class="container">
    <h2 class="text-center">2018 - 2019 Academic Calendar</h2>
    <hr />
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Month</th>
                <th scope="col">Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Activity</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rolspan="2">July</td>
                <td>Monday 02-07-2018</td>
                <td>One Day</td>
                <td>All studets resume and lectures start</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Monday 22-29/07/2018</td>
                <td>Five Days</td>
                <td>Studet's Union Week and Staff games</td>
            </tr>
        </tbody>
    </table>
</div>
