
@{
    ViewData["Title"] = "Deans";
}
<div class="team-section">
    <h1>Deans</h1>
    <span class="border"></span>
    <div class="ps">
        <a href="#p1"><img src="~/images/bd5.jpg" /></a>
        <a href="#p2"><img src="~/images/bd5.jpg" /></a>
        <a href="#p3"><img src="~/images/bd5.jpg" /></a>
        <a href="#p4"><img src="~/images/bd5.jpg" /></a>
        <a href="#p5"><img src="~/images/bd5.jpg" /></a>
        <a href="#p6"><img src="~/images/bd5.jpg" /></a>
    </div>
    <div class="section" id="p1">
        <span class="name">Hon. IBRAHIM, Funsho Ganiyu, M.Sc. (Leeds) FCA, (Chairman)</span>
        <span class="border"></span>
        <p>
            Born on 18th February 1955, Mallam F.G. Ibrahim is a multi-disciplinary technocrat whose experiences in various facets of Nigeria Private and public Sectors span over three decades. After graduating in Accountancy from The Polytechnic Ibadan in 1982, he started his banking career with Afribank in 1983. A fellow of the Institute of Chartered Accountants of Nigeria (ICAN) and Nigeria Institute of Management, he qualified as a Chartered Accountant in May, 1986. He also holds a Master of Science Degree in Corporate Governance from the LEEDS METROPOLITAN UNIVERSITY, UK.
        </p>
        <p>He left Afribank after 6 years to set up and pioneer, the Corporate Finance Department of Trade Bank Plc in March 1989, as a Manager. He held various management positions in the bank in the areas including retail, corporate, investment and development banking. He  was later elevated to the Board of the bank, as an Executive Director, Finance and Management Services in 1998, the position he held until he retired voluntarily from the Board of the Bank into private business in 2002.  </p>
        <p>An Alumnus of the prestigious Lagos Business School (LBS), Mallam Ibrahim attended many courses locally and overseas as part of his management development programmes in the areas of capital market operations and investment banking. His business interests include Engineering Construction, Agriculture, Mining, Financial Consultancy. He had Federal appointments as the Chairman, Board of Directors, Centre for Black and African Arts and Civilization (CBAAC), Director, Abuja Investments Ltd. and member, Financial Thematic Group, VISION 20 2020. </p>
        <p>
            He also served for three years as an elected Chairman, Yagba East Local Government Council, Kogi State (2013-2016).
            He is currently the Chairman, Governing Council, Federal College of Education (Techical) Asaba.
            He is happily married with children.
        </p>
    </div>
    <div class="section" id="p2">
        <span class="name">Dr. Jubril A SALAUDEEN (V.Chairman)</span>
        <span class="border"></span>
        <p>
            Salaudeen Jubril has got extensive corporate experience both on the field
            and at strategic management level.
            An astute Sales and Marketing Manager in FMCG market and in the Oil & Gas segment of the
            Nigeria Economy. General Manager in Home Entertainment where we worked to provide a
            decent distribution platform for home entertainment products and a senior management
            position in security printing and lately in E-Payment where we have placed over 50,000
            hand held PoS machines across Nigeria.
        </p>
        <p>
            I am opportune to work in the following industry: FMCG, Oil and Gas, Telecommunication,
            Distribution, Consulting, Security Printing, E-Payment, Education
        </p>
        <p>He love learning, research, micro-payment, poverty eradication, writing and farming</p>
    </div>
    <div class="section" id="p3">
        <span class="name">Engr Bashir Oladejo (Director)</span>
        <span class="border"></span>
        <p>
            Basiru is a Network Engineer, Systems Administrator and Trainer. A certified Lucent Avaya
            Systimax Cabling System and WaveLAN Designer and Installer. An NCR certified ATM Engineer.
        </p>
        <p>
            Basiru has attended various trainings both locally and internationally including trainings
            at the famous AT&T Bell Laboratory in Hilversum, Netherland.
        </p>
        <p>
            He has more than thirty [30] years of experience in the information technology industry.
            He has worked with over two hundred [200] different networks. Numerous NCR ATM deployment and
            maintenance. Various Point of Sale[POS] terminals and Payment Applications deployment. These
            allowed him to develop skills in a variety of technologies and environments within the networking
            and financial systems industry.
        </p>
        <p>
            His expertise include, but not limited to, design, installation, management, analysis and
            troubleshooting of local and wide area networks using various industry standard operating
            systems and multiple manufacturers of local and wide area connectivity equipment. Automatic
            Teller Machine [ATM] and Point of Sale [POS] terminals installation and maintenance.
        </p>
        <p>Basiru has proven expertise in project management and has developed strong leadership skills.</p>
    </div>
    <div class="section" id="p4">
        <span class="name">Abdulazeez Adeniyi (Director) </span>
        <span class="border"></span>
        <p>
            CATED is a private sector driven initiative established to institutionalize
            vocational and technical skills acquisition and entrepreneurship development for
            sustainable SMEs and industrial development. The Centre is in FCET Asaba running
            Automotive Technology Mechatronics and various Entrepreneurship
        </p>
    </div>
    <div class="section" id="p5">
        <span class="name">Engr. Olawale K. Okunade MNSE (Executive Director / CEO)</span>
        <span class="border"></span>
        <p>
            Engr. Okunade graduated from University of Ibadan where he had a B.Sc. Degree in Engineering
            and a Master’s Degree in Engineering from the same University in view. In addition, he holds
            postgraduate qualifications in Finance & Credit Management and Advanced Certificate in
            Network Computing/Information Technology alongside professional qualifications in Management,
            Marketing, Public Relations and Pensions Management. He is a result-oriented and highly
            resourceful manager who has traversed management profession in areas including Strategic
            Planning, Corporate Management, Project Management/Financing, Mortgages, Micro-Finance,
            Investment and Financial Management, Business Development, Corporate Communications,
            Relationship Management, Systems Re-engineering, Performance Evaluation & Management,
            Valuation/Cost Management, Capacity Building and Knowledge Management.
        </p>
        <p>
            Prior to forming CATED, he held key management positions at various times in the following
            capacities; GM/CEO, Afriprops Development Company Ltd, General Manager/CEO, Engineering
            Practice Resource Development, EPRD a Training & Engineering Consulting firm owned by the
            Nigerian Society of Engineers, General Manager/CEO REDAN Capital Ltd, a housing finance,
            mortgages, leasing, project management & consulting company owned by the Real Estate
            Developers Association of Nigeria, REDAN, where he was dealing with with international
            organizations like Shelter Afrique, L'Agence Française de Développement, Nerida
            International, USA.
        </p>
        <p>
            Engr. Okunade was also at various times Regional Manager, Regency Assets Management Ltd, Branch Manager, Profund Securities Ltd, Branch Manager, the then Intercontinental Homes Savings & Loans Ltd, Senior Manager, Wealthways Leasing and Consulting, Manager, LESAM Global Concept Ltd, Senior Banking Officer, Gateway Bank Plc. He also taught Engineering in Lagos State Polytechnic.
        </p>
        <p>
            He served as Member of the following National Committees; 1st National Urban Forum in Nigeria on Housing and Sustainable Urban Development (UN Habitat III), National Committee for Review of National Housing and Urban Development Policies, Member National Housing Committee of the Federal Ministry of Lands, Housing and Urban Development/UN-Habitat, Member, Nigeria Building & Road Research Institute (NBRRI)/REDAN Joint Committee on the Development of Affordable Mass Housing in Nigeria, Member, Reviewing Committee for National Housing and Urban Development Policies for Federal Ministry of Lands, Housing and Urban Development.
        </p>
        <p>
            He is a Member of the Nigerian Society of Engineers, Nigerian Institution of Agricultural Engineers, Institute of Credit Administration Nigeria, National Institute of Marketing of Nigeria, Nigerian Institute of Management, Nigeria Institute of Public Relations, Certified Pensions Institute of Nigeria and Institute of Internal Auditors. He is a Fellow of both the Environmental Practitioners’ Institute of Nigeria (EPIN) and the Centre for Housing and Infrastructure Finance In Africa, (CHIFIA) a Pan- African Housing Finance and Capacity development Institution based in Nigeria.
        </p>
    </div>
</div>

