
@{
    ViewData["Title"] = "Directors";
}
<div class="team-section">
    <h1>Directors</h1>
    <span class="border"></span>
    <div class="ps">
        <a href="#p1"><img src="~/images/bd5.jpg" /></a>
        <a href="#p2"><img src="~/images/bd5.jpg" /></a>
        <a href="#p3"><img src="~/images/Alh Ipaye.jpg" /></a>
        <a href="#p4"><img src="~/images/bd5.jpg" /></a>
        <a href="#p5"><img src="~/images/bd5.jpg" /></a>
        <a href="#p6"><img src="~/images/bd5.jpg" /></a>
    </div>
    <div class="section" id="p1">
        <span class="name">Hon. IBRAHIM, Funsho Ganiyu, M.Sc. (Leeds) FCA, (Chairman)</span>
        <span class="border"></span>
        <p>
            Born on 18th February 1955, Mallam F.G. Ibrahim is a multi-disciplinary technocrat whose experiences in various facets of Nigeria Private and public Sectors span over three decades. After graduating in Accountancy from The Polytechnic Ibadan in 1982, he started his banking career with Afribank in 1983. A fellow of the Institute of Chartered Accountants of Nigeria (ICAN) and Nigeria Institute of Management, he qualified as a Chartered Accountant in May, 1986. He also holds a Master of Science Degree in Corporate Governance from the LEEDS METROPOLITAN UNIVERSITY, UK.
        </p>
        <p>He left Afribank after 6 years to set up and pioneer, the Corporate Finance Department of Trade Bank Plc in March 1989, as a Manager. He held various management positions in the bank in the areas including retail, corporate, investment and development banking. He  was later elevated to the Board of the bank, as an Executive Director, Finance and Management Services in 1998, the position he held until he retired voluntarily from the Board of the Bank into private business in 2002.  </p>
        <p>An Alumnus of the prestigious Lagos Business School (LBS), Mallam Ibrahim attended many courses locally and overseas as part of his management development programmes in the areas of capital market operations and investment banking. His business interests include Engineering Construction, Agriculture, Mining, Financial Consultancy. He had Federal appointments as the Chairman, Board of Directors, Centre for Black and African Arts and Civilization (CBAAC), Director, Abuja Investments Ltd. and member, Financial Thematic Group, VISION 20 2020. </p>
        <p>
            He also served for three years as an elected Chairman, Yagba East Local Government Council, Kogi State (2013-2016).
            He is currently the Chairman, Governing Council, Federal College of Education (Techical) Asaba.
            He is happily married with children.
        </p>
    </div>
    <div class="section" id="p2">
        <span class="name">Dr. Ezeom Ignatius Nwanze - Provost</span>
        <span class="border"></span>
        <p>
            Born on 18th February 1955, Mallam F.G. Ibrahim is a multi-disciplinary technocrat whose experiences in various facets of Nigeria Private and public Sectors span over three decades. After graduating in Accountancy from The Polytechnic Ibadan in 1982, he started his banking career with Afribank in 1983. A fellow of the Institute of Chartered Accountants of Nigeria (ICAN) and Nigeria Institute of Management, he qualified as a Chartered Accountant in May, 1986. He also holds a Master of Science Degree in Corporate Governance from the LEEDS METROPOLITAN UNIVERSITY, UK.
        </p>
        <p>He left Afribank after 6 years to set up and pioneer, the Corporate Finance Department of Trade Bank Plc in March 1989, as a Manager. He held various management positions in the bank in the areas including retail, corporate, investment and development banking. He  was later elevated to the Board of the bank, as an Executive Director, Finance and Management Services in 1998, the position he held until he retired voluntarily from the Board of the Bank into private business in 2002.  </p>
        <p>An Alumnus of the prestigious Lagos Business School (LBS), Mallam Ibrahim attended many courses locally and overseas as part of his management development programmes in the areas of capital market operations and investment banking. His business interests include Engineering Construction, Agriculture, Mining, Financial Consultancy. He had Federal appointments as the Chairman, Board of Directors, Centre for Black and African Arts and Civilization (CBAAC), Director, Abuja Investments Ltd. and member, Financial Thematic Group, VISION 20 2020. </p>
        <p>
            He also served for three years as an elected Chairman, Yagba East Local Government Council, Kogi State (2013-2016).
            He is currently the Chairman, Governing Council, Federal College of Education (Techical) Asaba.
            He is happily married with children.
        </p>
    </div>
    <div class="section" id="p3">
        <span class="name">Alh. Adekola, Yinusa Adekunle - Director Academic Planning</span>
        <span class="border"></span>
        <p>
            Born on 18th February 1955, Mallam F.G. Ibrahim is a multi-disciplinary technocrat whose experiences in various facets of Nigeria Private and public Sectors span over three decades. After graduating in Accountancy from The Polytechnic Ibadan in 1982, he started his banking career with Afribank in 1983. A fellow of the Institute of Chartered Accountants of Nigeria (ICAN) and Nigeria Institute of Management, he qualified as a Chartered Accountant in May, 1986. He also holds a Master of Science Degree in Corporate Governance from the LEEDS METROPOLITAN UNIVERSITY, UK.
        </p>
        <p>He left Afribank after 6 years to set up and pioneer, the Corporate Finance Department of Trade Bank Plc in March 1989, as a Manager. He held various management positions in the bank in the areas including retail, corporate, investment and development banking. He  was later elevated to the Board of the bank, as an Executive Director, Finance and Management Services in 1998, the position he held until he retired voluntarily from the Board of the Bank into private business in 2002.  </p>
        <p>An Alumnus of the prestigious Lagos Business School (LBS), Mallam Ibrahim attended many courses locally and overseas as part of his management development programmes in the areas of capital market operations and investment banking. His business interests include Engineering Construction, Agriculture, Mining, Financial Consultancy. He had Federal appointments as the Chairman, Board of Directors, Centre for Black and African Arts and Civilization (CBAAC), Director, Abuja Investments Ltd. and member, Financial Thematic Group, VISION 20 2020. </p>
        <p>
            He also served for three years as an elected Chairman, Yagba East Local Government Council, Kogi State (2013-2016).
            He is currently the Chairman, Governing Council, Federal College of Education (Techical) Asaba.
            He is happily married with children.
        </p>
    </div>
    <div class="section" id="p4">
        <span class="name">Alh. Naseer A. Ipaye - Council Member </span>
        <span class="border"></span>
        <p>
            He is currently a Governing Council member of the Federal College of Education (Technical)
            Asaba He was born 63years ago in Douala, Cameroun to Nigerian parents.
        </p>

        <p>
            He had his primary and secondary education in Nigeria and worked post-secondary school for 3
            years. In September 1976, he travelled to the United States of America for his University
            Education (Clark College and Western Kentucky University 1976 – 1979). After only one
            semester of Graduate School of Business, he won a grant to complete his 2years M.B.A
            (Finance) course. He came top of the class at the end of the program in December, 1981.
        </p>

        <p>
            He came back to Nigeria in August, 1982 to serve (NYSC). The primary place of assignment was
            with Icon Limited (Merchant Bankers) where he worked till 1990 and left as a Manager Export
            Credit Division. In early 1990, he joined Pacific Merchant Bank as an Assistant General Manager.
            In 1991, he became a D.G.M and by 1993 took over as the MD/CEO. He left banking in December,
            1995 for a Financial/Industrial Consulting job which he did for 5years (1996 – 2001).
        </p>

        <p>
            He relocated to the United States of America in 2001 and worked for 6 years in Financial
            Services especially Insurance. In 2008, he got another opportunity to relocate back to
            Nigeria as the MD/CEO of an Engineering Services Company (LEKON ENGINEERING SERVICES LTD),
            2008 – 2014.
        </p>
        <p>
            In 2014, he was appointed to be a pioneer Commissioner of Lagos State Audit Service Commission
            (2014 – 2015).
        </p>
        <p>Mr. Ipaye is married with children and grandchildren.</p>
    </div>
    <div class="section" id="p5">
        <span class="name">Mr. Ndukwe Idika - Council Member</span>
        <span class="border"></span>
        <p>
            Mr Ndukwe Idika is a holder of the Masters degree in Education (M.Ed) and Bachelor of Science (Education)- B.Sc(Ed) in Industrial Technical Education from the University of Nigeria, Nsukka. He also graduated from the Institute of Management and Technology, Enugu with the Nigeria Certificate in Education (Technical).

            He has several years of teaching experience from secondary schools, technical colleges and in the past twenty seven years has been lecturing in the Department of Building Technology, Federal College of Education (Technical), Asaba. He is presently a Chief Lecturer

            Mr Idika has vast administrative experience which he acquired as a result of the following positions he has held in the College: Head, Department of Building Technology; Dean, School of Technical Education; Co-ordinator, Students' Industrial Work Experience Scheme (SIWES) and Director, Quality Assurance. He has also served in various committees in the College. Mr Idika is a two-term member of the Governing Council of Federal College of Education(Technical), Asaba.

            He is a member of many professional bodies and has many publications to his credit.

            Mr Idika is happily married with children.
        </p>
    </div>
</div>
