
@{
    ViewData["Title"] = "Entrepreneurship";
}

<div class="container">
    <div class="well">
        <h3 class="text-center" style="font-family:'Century Gothic';">
            <b>Centre for Automotive Technology & Entrepreneurship Development (CATED)</b>
        </h3>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p>
                    CATED is a private sector driven initiative formed to
                    institutionalize practical oriented vocational and technical skills
                    acquisition and entrepreneurship development for sustainable SMEs and
                    industrial growth.
                </p>
                <p>
                    The Centre is established by the <b>
                        Federal College Of Education (Technical)
                        Asaba
                    </b> in partnership with <a style="color:blue" href="#"><b>SGNCrownford Global</b></a> for quality skilled entrepreneurship
                    Vocational technical practical training.The Centre provides Automotive Technology
                    Mechatronics and various Entrepreneurship skills Acquisition Programmes to promote
                    youth empowerment and job creation.This is designed to tap the great potentials
                    and opportunities in the technology industries for economic growth and sustainable
                    development in Nigeria.
                </p>
                <p>
                    The Centre which is a unique entrepreneurship initiative is residential
                    and non-residential training institution with franchise opportunity for
                    graduands to be self-employed. We run Automotive and other technology
                    related professions in ICT, Automation, Welding and Fabrication,
                    Advanced Professional Technical Training, Film, Cinematography &
                    Entertainment. The Centre provides internationally recognized highly
                    skilled 70:30 practical entrepreneurship training for hands-on
                    vocational development.
                </p>
                <p style="color:red">
                    Details on <b>
                        Empowering You For Outstanding Skills In
                        Entrepreneurship and Successful Business Ownership
                    </b>
                    <a style="color:blue" href="#" rel="#">Click here</a>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    <img src="~/images/CATED_1.jpg" height="270" width="400" />
                </p>
            </div>
        </div>


    </div>

</div>
