
@{
    ViewData["Title"] = "Librarian";
}
<div class="container">
    <h1>College Librarian</h1>
    <hr />
    <div>
        <p>Profile and image</p>
        <p>
            W3Schools is optimized for learning, testing, and training. Examples might be simplified to
            improve reading and basic understanding. Tutorials, references, and examples are constantly
            reviewed to avoid errors, but we cannot warrant full correctness of all content. While using
            this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
            Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.
        </p>
        <p>
            W3Schools is optimized for learning, testing, and training. Examples might be simplified to
            improve reading and basic understanding. Tutorials, references, and examples are constantly
            reviewed to avoid errors, but we cannot warrant full correctness of all content. While using
            this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
            Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.
        </p>
        <p>
            W3Schools is optimized for learning, testing, and training. Examples might be simplified to
            improve reading and basic understanding. Tutorials, references, and examples are constantly
            reviewed to avoid errors, but we cannot warrant full correctness of all content. While using
            this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
            Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.
        </p>
        <p>
            W3Schools is optimized for learning, testing, and training. Examples might be simplified to
            improve reading and basic understanding. Tutorials, references, and examples are constantly
            reviewed to avoid errors, but we cannot warrant full correctness of all content. While using
            this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
            Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.
        </p>
    </div>
    <h1>Librarian Services and Operations</h1>
    <hr />
    <div>
        <p>
            W3Schools is optimized for learning, testing, and training. Examples might be simplified to
            improve reading and basic understanding. Tutorials, references, and examples are constantly
            reviewed to avoid errors, but we cannot warrant full correctness of all content. While using
            this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
            Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.
        </p>
        <p>
            W3Schools is optimized for learning, testing, and training. Examples might be simplified to
            improve reading and basic understanding. Tutorials, references, and examples are constantly
            reviewed to avoid errors, but we cannot warrant full correctness of all content. While using
            this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
            Copyright 1999-2018 by Refsnes Data. All Rights Reserved. Powered by W3.CSS.
        </p>
    </div>
</div>

