
@{
    ViewData["Title"] = "Portal";
}

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <h2>Dashboard</h2>
                <p><a asp-area="" asp-controller="Home" asp-action="Registration"><i class="fas fa-registered"> Registration</i></a></p>
                <p><a asp-area="" asp-controller="Home" asp-action="Admin"><i class="fas fa-user"> Admin</i></a></p>
                <p><a asp-area="" asp-controller="Home" asp-action="StaffLogin"><i class="fas fa-users"> Staff Login</i></a></p>
                <p><a asp-area="" asp-controller="Home" asp-action="Students"><i class="fas fa-graduation-cap"> Student Login</i></a></p>
                <p><a asp-area="" asp-controller="Home" asp-action="Exams"><i class="fas fa-edit"> Exams</i></a></p>
                <p><a asp-area="" asp-controller="Home" asp-action="Payments"><i class="fas fa-credit-card"> Payments</i></a></p>
                <p><a href="#">CBT Exams</a></p>
                <p><a href="#">Link</a></p>
            </div><br />
            <div class="col-sm-8 text-left">

                <div class="panel panel-default">
                    <div class="panel-heading"><h2>Dashboard</h2></div>
                    <div class="panel-body">Content ...</div>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>

        </div>
    </div>


